* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: rgb(61, 133, 198);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    cursor: default;
}
.container-fluid{
    background-color: rgb(244, 246, 249);
}
.row label,p {
    font-weight: bold;
}
span {
    color: red;
}
.container-fluid h2 {
    text-align: center;
    padding-top: 10px;
    background-color: rgb(248, 249, 250);
    font-family: sans-serif;
}
.container-fluid .row input {
    margin: 10px 0 20px 0;
}
footer {
    background-color: rgb(52, 58, 64);
    color: rgb(134, 144, 153);
    padding: 20px;
}