
.body {
    background-color: lightgreen;
    margin: 0;
    padding: 0;
}
nav {
    padding: 25px;
    display: flex;
    background-color: rgb(255, 255, 255);
    /* height: 15vh; */
}

.container-fluid img {
    width: 60px;
}

.container-fluid ul {
    font-weight: bolder;
    font-size: 18px;
}

.form-group {
    display: flex;
    position: relative;
}

.form-group input {
    padding: 0 15rem 0 5rem;
    font-size: 16px;
    width: 100%;
}

.form-group i {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 16px;
}
.row {
    text-align: center;
}
.bottom input {
    width: 20%;
    padding: 5px 5px 5px 10px;
    margin: 20px 0;
    font-size: 16px;
    border-radius: 8px;
    border:1px solid red;
}
.bottom button {
    margin: 20px 0;
    border: none;
    outline: none;
}
.bottom p a {
    text-decoration: none;
}